<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <title>Angular Example</title>
  </head>
  <body ng-app="exampleApp">
    <h3>This list is created by the server and pushed to angular!</h3>
    <div ng-controller="SSCtrl">
      <table>
        <tr>
          <td>
            <button class="btn" data-toggle="button" ng-click="toggleData()">Listen to Aliens</button>
            </td>
          <td>
            <h3>{{streaming}}</h3>
          </td>
          <td>
            <h3>{{intervalId}}</h3>
          </td>
        </tr>
      </table>
      <ul>
        <li ng-repeat="message in messages">
          {{message}}
        </li>
      </ul>
    </div>
  </body>
</html>
