<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <title>Angular Example</title>
  </head>
  <body ng-app="exampleApp">
    <div class="row">
      <div class="span12">
        <h3>This list is created by the server and pushed to angular!</h3>
      </div>
    </div>
    <div ng-controller="SSCtrl">
      <div class="row">
        <div class="span4">
          <button class="btn primary" data-toggle="button" ng-click="toggleData()">Listen to Aliens</button>
        </div>
        <div class="span4">
          <h3>Streaming: {{streaming}}</h3>
        </div>
        <div class="span4">
          <h3>Status: {{status}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <ul>
            <li ng-repeat="message in messages">
              {{message}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
