<div ng-show="authenticated">
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <h1>SS-Angular Test App</h1>
        <p>A test application that integrates SocketStream and AngularJS</p>
      </div>
    </div>
  </div>
  <div ng-controller="SSCtrl">
    <div class="row">
      <div class="span2">
        <button 
          class="btn btn-primary" 
          data-toggle="button" 
          rel="popover"
          title="SS-Angular"
          data-content="When you click this button, the app will: <ol><li>Tell the server to start pushing events through the pubsub channel to which it is already subscribed</li> <li>After two seconds, the server will reply with a status, which will get drawn to the right</li> <li>Then, every 3 seconds, the server will push 16 bytes of crypto data below.</li></ol>Enjoy!" 
          ng-click="toggleData()">Listen to Aliens</button>
      </div>
      <div class="span2">
        <button class="btn" ng-click="logout()">Log out</button>
      </button>
      </div>
      <div class="span4">
        <h3><a
            rel="tooltip"
            title="Just an angular data bind">Streaming (from angular)</a></h3>
      </div>
      <div class="span4">
        <h3>
          <a
            rel="tooltip"
            title="This data is the return value of a SocketStream RPC call">Status (from rpc)</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="span4 offset4">
        {{streaming}}
      </div>
      <div class="span4">
        {{status}}
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <h4><a
            rel="tooltipRight"
            title="This is an incrementally synced model!">
            Synced Model</a></h4>
      </div>
      <div class="span8">
        <h4><a
            rel="tooltip"
            title="This is data from a SocketStream pubsub session">Messages</a></h4>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <table>
          <thead>
            <tr>
              <th>Has Ball</th>
              <th>Leading By</th>
              <th>Server Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{modelData.hasBall}}</td>
              <td>{{modelData.leadingBy}}</td>
              <td>{{modelData.serverTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span8">
        <ul>
          <li ng-repeat="message in messages">
            {{message}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
